@keyframes scroll-link {
     
  0%{
    color: $text-color-2;
    transform: scale(1.0);
  }

  10%{
    color: $btn-color;
    transform: scale(1.0);
  }

  20%{
    transform: scale(0);
  }

  30%{
    transform: scale(0);
  }

  40%{
    transform: scale(0);
  }
  50%{
    transform: scale(0);
  }

  60%{
    color: $text-color-2;
    transform: scale(1.0);
  }

  70%{
    color: $text-color-2;
    transform: scale(1.0);
  }

  80%{
    color: $text-color-2;
    transform: scale(1.0);
  }

  90%{
    color: $text-color-2;
    transform: scale(1.0);
  }
  
  100%{
    color: $text-color-2;
    transform: scale(1.0);
  }
    
}